@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary: #A3EBB1
}

body {
  font-family: "Poppins";
  margin: 0 auto;
  padding: 0.7em;
  color: #2f2f2f;
}

header nav{
  display: flex;
  align-items: center;
  gap: 1em;

}

header nav a {
  text-decoration: none;
  color: #2f2f2f;
}

header nav a.active {
  background: var(--primary);
  border-radius: 6px;
  padding: 0.2em 0.4em;
}

header h2 {
  margin: 0 auto 0.5em 0;
  border-bottom: 2px solid var(--primary);
  line-height: 1.1;
}

input {
  text-transform: uppercase;
}