@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary: #5f9df7
}

body {
  max-width: 400px;
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  color: #36363a;
  background-color: rgb(231, 231, 231);
}


/*------------Header and Nav -----------*/


header {
  background-color: #363638;
  padding: 1em 1em 0.5em 1em;
  color: white;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

header nav {
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 1.15rem;
  margin-bottom: 0.5em;
}

header nav a {
  text-decoration: none;
  color: #2f2f2f;
  color: white;
  font-weight: bold;
}

header nav a.active {
  background: var(--primary);
  border-radius: 6px;
  padding: 0.2em 0.4em;
}

header h2 {
  margin: 0 auto 0.5em 0;
  border-bottom: 2px solid var(--primary);
  line-height: 1.1;
  font-size: 28px;
}


/*------------Search bar and button-----------*/

input {
  text-transform: uppercase;
  margin-right: 0.2em;
  margin-bottom: 0.5em;
  border-radius: 4px;
  border: none;
  height: 2rem;
}

.search-btn {
  color: white;
  font-weight: bold;
  height: 2rem;
  background-color: #5f9df7;
  border: none;
  border-radius: 5px;
  padding: 0.4em 0.5em;
  letter-spacing: .1em;
}


/*-----------QQQ stats on homepage -----------*/

.stats-container {
  display: flex;
  justify-content: space-around;
  background-color: rgb(231, 231, 231);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 0;
  margin: 0;
}



.stats-card:not(:last-child) {
  border-right: 1px solid black;
  padding: 0 1em;

}
.stats-name {
  color: var(--primary);
  margin:  0
}

.stats-price {
margin: 0;
font-weight: bold;
}

.stats-percent {
  margin: 0;
  color: green;
}
/*-----------Search results (ticker names)  -----------*/


.details-btn {
  color: white;
  font-weight: bold;
  background-color: #5f9df7;
  border: none;
  border-radius: 5px;
  padding: 0.4em 0.5em;
  letter-spacing: .1em;
  margin: auto 0;
}

.display-search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cecece;
  padding: 0.3em 0.5em;
  border-bottom: 1px solid #5f9df7;
}

.ticker-name{
  margin: 0 0 0 0;
  color: black;
}

/*-----News results on home page and about page -----------*/


.news-container {
  margin-bottom: 0.5em;
  background-color: #ffffff;
  padding: 0.5em 1em;
  border-radius: 8px;
  color: #2f2f2f;
}

.news-container a {
  text-decoration: none;
  color: inherit;
}

.news-headline {
  margin: 0;
  line-height: 1.2;
}

.news-headline:hover {
  text-decoration: underline #5f9df7 2px solid;
  cursor: pointer;
}

.news-image {
  width: 100%;
  border-radius: 10px;
  margin-top: 0.5em;
  cursor: pointer;
}

.news-time {
  margin: 0;
  font-size: 10px;
  font-weight: bold;
}

.news-summary {
  margin: 0;
  font-size: 14px;
  line-height: 1.15;
}